<!DOCTYPE>

<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
     integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<style media="screen">
    img {
      background-color: red;
    }
    </style>

<body>
      <h1>Biggest</h1>
      <h2>2</h2>
      <h3>3</h3>
      <h4>4</h4>
      <h5>5</h5>
      <h6>smallest</h6>

      <nav>

        <ul>
          <li><a href="/" target="_blank">Home</a> </li>
          <li><a href="/about" target="_blank">About</a> </li>
          <li><a href="/store" target="_blank">Store</a> </li>
          <li><a href="/contact" target="_blank">Contact</a> </li>
        </ul>
      </nav>

    <p>This is an image <img src="" alt="" title="On Hover Text"> to be displayed </p>
    <script src="http://getbootstrap.com/" charset="utf-8"></script>
    <script type="text"


    </body>

    </html>
